name: Staging Docs

on:
  push:
    branches:
      - 'main'

# 仅取消同一工作流的正在进行的运行
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}

jobs:
  build:
    name: Build
    # 指定操作系统
    runs-on: ubuntu-latest
    # 仅针对'ai-ui'存储库运行作业
    if: ${{ github.repository_owner == 'Little-Prince-Teng' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      # - name: Install dependencies
      #   run: pnpm i --frozen-lockfile

      - name: Init Crowdin token
        run: pnpm run docs:crowdin-credentials
        env:
          CROWDIN_TOKEN: ${{secrets.CROWDIN_TOKEN}}
      
      - name: Upload source files
        run: cd docs && pnpm exec crowdin upload sources

      - name: Pull Crowdin translations
        run: cd docs && pnpm exec crowdin download -l zh-CN && pnpm exec crowdin download -l es-ES

      - name: Generate common locale
        run: pnpm docs:gen-locale

      - name: Build website
        run: pnpm docs:build
        env:
          DOC_ENV: staging
          NODE_OPTIONS: --max-old-space-size=4096
